<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Part Two</title>
<style type="text/css" media="screen">
.container{
	margin: 0 auto;
	width: 800px;
}
section{
	width: 480px;
	margin-right: 20px;
	float:left;
}
aside{
	width: 300px;
	float:left;
}
footer{
	clear: both;
	border-top: 1px solid #e3e3e3;
}
</style>
</head>
<body>
<div class="container">
	<header>
    	<h1>This is a header.</h1>
	</header>
	<section>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum neque sit amet adipiscing eleifend. Nam rhoncus ornare aliquet. Nulla auctor vel velit ut luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In scelerisque iaculis dignissim. Nulla sed consectetur mauris, a iaculis massa. Nulla eget suscipit nibh. Donec sagittis sem ac egestas feugiat. Nulla fermentum fermentum elit non cursus. </p>
   <p>Sed vitae lacinia quam, sed facilisis urna. Nulla cursus nisi at urna commodo, in molestie massa sodales. Fusce mollis justo ut interdum feugiat. Curabitur ultrices lorem quis vestibulum tincidunt. Phasellus et felis at dolor sodales vestibulum. Sed vehicula lacus neque, vel tristique sem consequat at. Aenean iaculis vel lectus id faucibus. Aenean tempus metus et diam facilisis, vel dapibus urna consequat. Duis egestas porttitor tempor.</p>
    </section>
    <aside>
    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum neque sit amet adipiscing eleifend. Nam rhoncus ornare aliquet. Nulla auctor vel velit ut luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In scelerisque iaculis dignissim. Nulla sed consectetur mauris, a iaculis massa. Nulla eget suscipit nibh.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum neque sit amet adipiscing eleifend. Nam rhoncus ornare aliquet. Nulla auctor vel velit ut luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In scelerisque iaculis dignissim. Nulla sed consectetur mauris, a iaculis massa. Nulla eget suscipit nibh.</p>
    </aside>
    <footer>
    	<p>This is a footer</p>
    </footer>
</div>
</body>
</html>
